<div class="container">
  <input type="text" [(ngModel)]="bookName" />
  <input type="text" [(ngModel)]="bookPrice" />
  <input type="button" [hidden]="!summited" (click)="addBook()" value="Add New Book" />
  <input type="button" [hidden]="summited" (click)="updateBook()" value="Update" />
  <ul>
    <li class="text" *ngFor="let book of books | async">
      {{ book.name }} : ${{ book.price }} : {{ book.id }}
      <input type="button" (click)="editBook(book.id)" value="Edit" />
      <input type="button" (click)="deleteBook(book.id)" value="Delete" />
    </li>
  </ul>
</div>
